{{> head }}

<!-- menu navegación -->
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam consequatur ipsam deleniti tempora! Iste nemo
            suscipit tempore laboriosam. Iste, alias? Iusto eaque sunt magnam? Dolore modi suscipit ad dolorem
            perferendis?</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/capitan.jpg" alt="Imagen capitan America">
    </div>
</div>
{{!-- Footer --}}
{{> footer }}